# Copyright 2023-2024 The Regents of the University of California
# released under BSD 3-Clause License
# author: Kevin Laeufer <laeufer@berkeley.edu>

[workspace]
resolver = "2"
members = ["wellen"]
default-members = ["wellen"]

[workspace.package]
version = "0.9.19"
edition = "2021"
# we require the `div_ceil` method on integers
rust-version = "1.73.0"
authors = ["Kevin Laeufer <laeufer@berkeley.edu>"]
description = "Fast VCD and FST library for waveform viewers written in Rust."
repository = "https://github.com/ekiwi/wellen"
license = "BSD-3-Clause"
keywords = ["vcd", "fst", "waveform", "wavedump"]


[workspace.dependencies]
bytesize = "1.3.0"
fst-native = "0.8.1"
leb128 = "0.2.5"
lz4_flex = "0.11.1"
memmap2 = "0.9.0"
rayon = "1.8.0"
num_enum = "0.7.1"
thiserror = "1.0.56"
serde = { version = "1.0.197", features = ["derive"] }

# dev dependencies
itertools = "0.12.1"
vcd = "0.7.0"
clap = { version = "4.4.6", features = ["derive"] }
criterion = "0.5"
indicatif = "0.17.8"
proptest = "1.4.0"

[profile.release]
debug = true
